:root {
    --blau: #99bbeb;
    --mainblau: #2d3a4a;
}

html {
    overflow-y: scroll;
}

body {
    background-color: var(--mainblau);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    padding: 2em;
    color: white;
    max-width: 900px;
    margin: auto;
    box-sizing: border-box;
}

img {
    max-width: 80%;
    max-height: 400px;
    display: block;
    margin-bottom: 1rem;
}


video {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
}


main a {
    color: var(--blau);
}

nav {
    background-color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: var(--mainblau);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    text-decoration: underline;
}

nav a.active {
    text-decoration: underline;
}