<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
     <!--Navigation-->
     <header>
        <div>
            <div>
                <img src="/Bilder/yaraLogo1.png" alt="Yara Logo">
            </div>
            <nav>
                <a href="index.html">Yara</a>
                <a href="Produktinfos.html" class="active">Produkt</a>
                <a href="nachhaltigkeit.html">Umwelt</a>
                <a href="anleitung.html">Anleitung</a>
            </nav>
        </div>
    </header>

    <main>
        <!--Hero-Bild -->
        <section>
            <img src="/Bilder/box5.JPEG" alt="Box">
        </section>
        
        <section>
            <h1>Produktinformationen</h1>
            <p>
                Entdecke das einzigartige DIY-Kreideset für Kinder – ein kreatives Abenteuer, das 
                Bastelspaß mit Umweltbewusstsein verbindet! <br>
                Mit recycelbaren Materialien, einem besonderen Gips aus der Zitronensäureproduktion 
                (einem industriellen Nebenprodukt) und spannenden Lerninhalten wird aus dem Set mehr 
                als nur Spielzeug: ein echtes Bildungsprojekt.
            </p>
        </section>
        <br>

        <section>
            <h1>Das Kreideset</h1>
            <div>
                 <img src="/Bilder/box6.JPEG" alt="Set" /> 
            </div>
            <p>
                Es enthält verschiedene Materialien: 
            </p>
        </section>

         <details>
      <summary><strong>Gips</strong><br><img src="/Bilder/gips4.jpg" alt="Gips"></summary>
      <p>Der Gips ist aus umweltfreundlicher Zitronensäuregewinnung von CASEA.</p>
    </details>

    <details>
      <summary><strong>Farbwürfel</strong><br><img src="/Bilder/farbe2.JPEG" alt="Farbwürfel"></summary>
      <p>Farbwürfel in 3 Farben: rot, blau und gelb. Genug für sechs leuchtende Kreidestücke.</p>
    </details>

    <details>
      <summary><strong>Papierbecher</strong><br><img src="/Bilder/farbe4.JPEG" alt="Papierbecher"></summary>
      <p>Praktische Papierbecher zum einfachen Anrühren. Kein Wiegen notwendig!</p>
    </details>

    <details>
      <summary><strong>Bastelmaterialien und Wachspapier</strong><br><img src="/Bilder/set3.JPEG" alt="Materialien"></summary>
      <p>Das Wachspapier ist vegan und ohne Palmöl, damit die Kreide nicht anklebt. Die Verpackung dient der Herstellung der nachhaltigen, plastikfreien Kreide.</p>
    </details>

    <details>
      <summary><strong>App-Spiel</strong><br><video src="/Bilder/App.mp4" autoplay loop muted playsinline width="250"></video></summary>
      <p>Spannende Lerninhalte & Zugang zur digitalen Lern-App. Alles rund um Nachhaltigkeit, Mülltrennung und Kreislaufwirtschaft!</p>
    </details>

    <details>
      <summary><strong>Anleitung</strong><br><img src="/Bilder/anleitung1.JPEG" alt="Anleitung"></summary>
      <p>Gedruckte Anleitung mit Schritt-für-Schritt-Erklärung und Link zur Videoanleitung.</p>
    </details>

    <hr>

    <h3>Weitere Infos:</h3>
    <p><strong>⏱ Dauer:</strong> ca. 1 Stunde</p>
    <p><strong>👧 Empfohlenes Alter:</strong> ab 6 Jahren</p>

    <h3>Perfekt geeignet für:</h3>
    <p>Kindergeburtstage, Schulprojekte, Aktionstage oder als liebevolles Geschenk für kleine Weltverbesserer.</p>

    <p><strong>👉 Werde kreativ und bring Farbe in die Welt – mit deiner selbstgemachten Kreide!</strong></p>

    <video src="/Bilder/Uboxing.mov" autoplay loop muted playsinline width="300"></video>

    <p>
      Du hast die Materialien schon Zuhause?<br>
      <a href="/anleitung.html">Hier geht’s zur Schritt-für-Schritt-Anleitung</a>
    </p>

    <p><a href="bestellformular.html">📦 Jetzt vorbestellen</a></p>

  </main>

    <!--Footer-->
    <footer>
        <p>© Yara Education, 2023</p>
        <p>Kontakt: <em>tomleon.vollbracht@unimuenster.enactus.team</em></p>
        <nav>
            <ul>
                <li> <a href="Dokumentation/dokumentation.html">Dokumentation</a> </li>
                <li> <a href="Dokumentation/kolophon.html">Kolophon</a> </li>
                <li><a href="impressum.html">Impressum</a></li>
                <li><a href="datenschutzerklaerung.html">Datenschutzerklärung</a></li>
                <li> <a class="instagram" href="https://www.instagram.com/yara.education" target="_blank">Instagram</a></li>
            </ul>
        </nav>
    </footer>

   
</body>
</html>